// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$sand: #ECC8AF;
$blush: #E7AD99;
$rose: #CE796B;
$almond: #C18C5D;
$slate: #495867;
