// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


//-----------LOGIN---------------

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-box {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: white;
  text-align: center;
}

//-------------- Internary page
.hover-shadow:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  background-color: #f8f9fa;
  transition: all 0.2s ease;
}

.itinerary-content .option{
  border-left: 4px solid #0d6efd;
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px #c7c7c7;
}

.pro-tips {
  border-left: 4px solid #fd9800;
  border-radius: 5px;
  background-color: #f8ff94;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px #c7c7c7;
}

//-----------Save button notes
.postit {
  background-color: #fff537bb;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.postit .form-inputs {
  flex: 1;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.saveNbtn {
  font-weight: bold;
  padding: 6px 12px;
}
#ntitle {
  font-size: 18px;
}
