// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


//-----------LOGIN---------------

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-box {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: $blush;
  text-align: center;
}

//-------------- Internary page
.hover-shadow:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  background-color: #f8f9fa;
  transition: all 0.2s ease;
}

.itinerary-content .recommendation{
  border-left: 4px solid #0d6efd;
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px #c7c7c7;
}

.pro-tips {
  border-left: 4px solid $rose;
  color: $slate;
  border-radius: 5px;
  background-color: $blush;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px #c7c7c7;
}
.place-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.photo-credit {
  font-size: 0.75rem;
  color: #666;
  font-style: italic;
  margin-top: -4px;
  margin-bottom: 12px;
}



